@use "variables" as v;
@use "utils" as *;
@use "sass:map";

@mixin respond-to($breakpoint) {
  $size: map.get(v.$breakpoints, $breakpoint);

  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin rounded-lg {
  border-radius: 0.5rem;
}

@mixin rounded-xl {
  border-radius: 1rem;
}

@mixin rounded-full {
  border-radius: 9999px;
}

// PADDING

@mixin padding($size) {
  padding: $size;
}

@mixin px($size) {
  padding-left: spacing($size);
  padding-right: spacing($size);
}

@mixin py($size) {
  padding-top: spacing($size);
  padding-bottom: spacing($size);
}

@mixin pt($size) {
  padding-top: spacing($size);
}

@mixin pr($size) {
  padding-right: spacing($size);
}

@mixin pb($size) {
  padding-bottom: spacing($size);
}

@mixin pl($size) {
  padding-left: spacing($size);
}
