@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

// Base styles
@use "base/reset";
@use "base/fonts";
@use "base/typography";

::selection {
  background-color: v.$accent-muted;
  color: v.$gray-100;
}

.icon {
  font-family: v.$font-nerd;
}

[disabled] {
  cursor: not-allowed;
  color: v.$gray-400;
}
