<div class="container">
  <div
    class="file-item"
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
  >
    <div class="file-icon icon"></div>
    <div class="file-name">File {{ i }}</div>
  </div>
  <div
    class="file-item"
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
  >
    <div class="file-icon icon"></div>
    <div class="file-name">File {{ i }}</div>
  </div>
  <div
    class="file-item"
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
  >
    <div class="file-icon icon"></div>
    <div class="file-name">File {{ i }}</div>
  </div>
  <div
    class="file-item"
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
  >
    <div class="file-icon icon"></div>
    <div class="file-name">File {{ i }}</div>
  </div>
  <div
    class="file-item"
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]"
  >
    <div class="file-icon icon"></div>
    <div class="file-name">File {{ i }}</div>
  </div>
</div>
